extends layout

block content
    table
        thead
            th Id
            th Name
            th Link

        tbody
            each room in rooms
                if room
                    tr
                        th= room.id
                        th= room.name
                        th
                            a(href="/game/#{room.id}") Go
    form(name="create-room", method="post", action="/lobby/create/")
        div.input
            span.label Name
            input(type="text", name="name")
        div.actions
            input(type="submit", value="Create")